<!doctype html>
<html lang="es_CO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--{% block title %} {% endblock %}
    Creando un bloque de titulo title
    -->
    <title>{% block title_page %} App With Flask | {% endblock %}</title>

    <!--
    {{ url_for('static', filename='css/style.css') }}
    Se le indica flask que busque el archivo en static/ y lo cargue en el path como segundo parametro
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>
<!--
{{url_for('index')}}
# index => Nombre de funcion que ejecuta el retorno
-->
<ul>
<li><a href="{{url_for('index')}}">Inicio</a></li>
<li><a href="{{url_for('test')}}">Test</a></li>
</ul>

<p class="destruction" id="destruction"></p>

<!--Contenido a renderizar cuando se herede de esta plantilla-->
{% block content %}

{% endblock %}


<!--
 {% include "footer.html" %}
  Incluye el archivo pasado por parametro
-->
<footer>
    {% include "footer.html" %}
</footer>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>