<!--Heredando de la plantilla por parametro-->
{% extends "base.html" %}

<!--{{super()}} Hereda lo que contenga por default el bloque-->
{% block title_page %}
{{super()}} Inicio
{% endblock %}

<!-- Insertando el contenido en el bloque craeado -->
{% block content %}
    <!--{{ url_for('static', filename='images/flask.png') }}
    Buscara en el directorio stic el archivo como segundo parametro
    -->
    <img src="{{ url_for('static', filename='images/flask.png') }}" alt="">
    <h1>Pagina de Inicio</h1>
{% endblock %}


